.assignment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 1.5rem 3rem;

  &__summary {
    grid-column: span 2;
    padding: 1.5rem 0;
  }
  &__input {
    position: relative;
    min-height: 250px;
    padding: 1.5rem 3rem;
    border: 2px solid $c-section-border;
    border-radius: 10px;
  }
  &__output {
    padding: 1.5rem 3rem;
    border: 2px solid $c-section-border;
    border-radius: 10px;
  }
  &__output-container {
    padding: 1.5rem 0;
  }
  &__feedback {
    grid-column: span 2;
    background-color: $c-alert-success;
    padding: 1.5rem 3rem;
    border-radius: 10px;
  }
}