$light-gray: #e8e8e8;

body {
    background: $light-gray;
}

.logo {
    img {
        max-width: 70px;
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    &-header {
        width: 100%;

        span {
            font-size: 12px;
        }
    }

    .create {
        float: right;
        margin-top: 14px;
        font-size: 12px;
        color: $black;

        .glyphicon {
            margin-left: 10px;
        }
    }
}


wrapper {
    > .container {
        padding-top: 30px;
    }
}

.create {
    margin-top: 0;

    textarea {
        min-height: 100px;
    }
}

.single-assignment {
    p {
        font-size: 13px;
    }
}