body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #333;
}

#editor {
    width: 100%;
    height: calc(100% - 100px);
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.box {
    background: yellow;
    margin: 20px;
    position: relative;
    background: #222;

    &__assets {
        width: 20%;
        background: #333;

        h2 {
            color: white;
        }
    }

    &__code {
        width: 40%;

        .button {
            @include buttons;

            position: absolute;
            bottom: 0;
        }
    }

    &__result {
        width: 40%;
    }
}