/* Basic form control styles */

form {
  * + & {
    margin-top: 1.5rem;
  }
}

input,
textarea {
  padding: 0.5rem;
}

textarea {
  display: block;
  width: 100%;
  border: 1px solid #aaa;
}

button {
  @include button;
}