/* Base font style */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 100%;
  color: $c-text-body;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  * + & {
    margin-top: 1.5rem;
  }
}

ul, ol {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
  * + & {
    margin-top: 1.5rem;
  }
}

li {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  margin-left: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  color: $c-text-heading;
  margin: 0;
  * + & {
    margin-top: 1.5rem;
  }
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
  * + & {
    margin-top: 1.5rem;
  }
}

h4 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 0;
  * + & {
    margin-top: 1.5rem;
  }
}

h5 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0;
  * + & {
    margin-top: 1.5rem;
  }
}

h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  * + & {
    margin-top: 1.5rem;
  }
}

pre,
code,
pre.ace_editor {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}